@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;900&family=JetBrains+Mono:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: white;
    color: black !important;
}

a {
    color: black !important;
    text-decoration: underline;
    cursor: pointer;
}

p {
    font-size: 1.1rem;
    line-height: 150%;
}

nav {
    width: 100%;
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: row;
    row-gap: 0.25rem;
    justify-content: space-between;
    font-size: 18px;
}

.nav-items {
    padding: 0.25rem 0;
}

.nav-items:hover {
    cursor: pointer;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
}

.page-wrapper {
    padding: 0 1rem;
}

.inner-wrapper {
    max-width: 720px;
    margin: 0 auto;
}

.explorer-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 250px;
    align-items: center;
}

.lever-canvas {
    max-width: 50%;
}

h3 {
    text-transform: uppercase;
    font-family: "Silkscreen", sans-serif;
    letter-spacing: 4px;
    text-align: right;
    margin-right: 1rem;
}

h3::after {
    content: "";
    display: block;
    background-color: black;
    height: 3px;
    width: 0.75rem;
    position: absolute;
    right: 0px;
    margin-top: -0.45rem;
    animation: blink 1s infinite;
}


@keyframes blink {
    0%, 25%, 75%, 100% { opacity: 1; } /* Fully visible at the start and end */
    50% { opacity: 0; }      /* Invisible at the midpoint */
  }

h4 {
    text-transform: lowercase;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 4rem;
}

center {
    text-align: center;
    display: flex;
    justify-content: center;
}

.hero-title {
    font-weight: 100;
    font-size: 3rem;
    border: 5px solid red;
    display: grid;
    border-radius: 1rem;
    text-align: center;
}

#hello{
    background-color: red;
    border-radius: 0.5rem 0.5rem 0 0;
    color: white;
    padding: 0.5rem;
}

#hello-title{
    text-transform: uppercase;
    font-weight: 800;
}

#hello-subtitle{
    font-size: 2.5rem;
}

span#name{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    padding: 2rem 0;
}

.hero-title > span {
    font-weight: 900;
}

.hero-subtitle {
    font-weight: 100;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero > p {
    margin-bottom: 25vh;
}

footer{
    padding: 0 0 2rem 0;
}